@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

* {
  font-family: "Nunito", sans-serif;
}
